<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="estilos/header.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>instrucoes</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/nav.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/header.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/instrucoes.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/carrossel.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/carrossela.css')}}">
    <script>
        function mostra(id){
            if(document.getElementById(id).style.display=='block'){
                document.getElementById(id).style.display='none'
            }else{
                document.getElementById(id).style.display='block'
            }
        }
    </script>

</head>
<body>
    <div class="app">
        <header class="header d-none d-sm-flex flex-column">
            <h1 class="lead text-muted">ReqSCity: An Application Requirement Analysis Tool for Smart Cities</h1>
        </header>
        <aside class="menu-area">
            <nav class="menu">
                <form action="/" method="GET">
                    <button class="botao">Inicio</button>
                </form>
                <form action="/instrucoes" method="GET">
                    <button class="botao">Instruções</button>
                </form>
            </nav>
        </aside>
        <main class="content container-fluid">
            <div class="p-3 mt-3">
    <input type="button" value="Instruções da Entrada" onClick="mostra('a')" class="btn fourth">
    <div class="hidden" id="a">
        <img width=100% src="{{url_for('static',filename='images/entrada.png')}}"/>
    </div>
    <input type="button" value="Módulo Ambiguidade" onClick="mostra('b')" class="btn fourth">
    <div id="b" class="hidden">
        <section class="galery">
            <div class="fotos">
                <img width=100% src="{{url_for('static',filename='images/Palavras Ambiguas.png')}}"/>
                <img width=100% src="{{url_for('static',filename='images/Flexible Ambiguity.png')}}"/>
                <img width=100% src="{{url_for('static',filename='images/Coordination Ambiguity.png')}}"/>
                <img width=100% src="{{url_for('static',filename='images/Passive Voice.png')}}"/>
            </div>
        </section>
    </div>
    <input type="button" value="Módulo Incompletude" onClick="mostra('c')" class="btn fourth">
    <div id="c" class="hidden">
        <section class="galery">
            <div class="fotos">
                <img width=100% src="{{url_for('static',filename='images/Sentence Fragment.png')}}"/>
                <img src="{{url_for('static',filename='images/Missing Subject.png')}}"/>
                <img src="{{url_for('static',filename='images/Missing Verb Mistake.png')}}"/>
                <img src="{{url_for('static',filename='images/Dummy Subject.png')}}"/>
            </div>
        </section>
    </div>
    <input type="button" value="Módulo Contextualização" onClick="mostra('d')" class="btn fourth">
    <div id="d" class="hidden">
        <section class="galery2">
            <div class="fotos2">
                <img width=100% src="{{url_for('static',filename='images/Contextualiza.png')}}"/>
                <img src="{{url_for('static',filename='images/Completude.png')}}"/>
            </div>
        </section>
    </div>
</div>

        </main>
    </div>

</body>
</html>
